.ecb-title {
  color: var(--color-green);
}

.ecb-note {
  margin-top: -8px;
  margin-bottom: 16px;
  color: var(--color-text);

  &__em {
    font-size: var(--fs-md);
    font-weight: 500;
  }
}

.ecb-sec {
  margin-top: 24px;

  &--first {
    margin-top: 8px;
  }

  &__heading {
    color: var(--color-green-mid);
    margin: 0;
  }
}

.ecb-grid {
  display: grid;
  grid-template-columns: 1fr 56px;
  gap: 12px;
  margin-top: 10px;
}

.ecb-values {
  font-size: var(--fs-md);
  color: var(--color-green);
  font-weight: 700;
  line-height: 2.23;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;

  &__item {
    text-align: right;
  }
}
