.qfl-title {
  color: #0e4a2e;
}

.qfl-question {
  margin-top: 16px;

  &--first {
    margin-top: 6px;
  }

  &__header {
    color: #0e4a2e;
    font-weight: 700;
    padding-left: 4px;
    margin-bottom: 30px;
  }

  &__index {
    margin-right: 8px;
  }
}

.qfl-comments {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 8px;
  padding-right: 8px;
}
