.section-chip {
  display: inline-block;
  max-width: 100%;
  padding: 10px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background: var(--chip-color, #0e4a2e);
  border-radius: 18px;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
// .section-chip::before {
//   content: "";
//   position: absolute;
//   width: 0;
//   height: 0;
//   left: -22px;
//   top: 55px;
//   border: 21px solid;
//   border-color: var(--chip-color, #0e4a2e) transparent transparent transparent;
//   // bottom: 0;
//   z-index: 1;
//   // transform: translateY(-50%);
// }

// .section-chip::after {
//   content: "";
//   position: absolute;
//   width: 0;
//   height: 0;
//   left: -18px;
//   top: 0;
//   border: 22px solid;
//   border-color: white transparent transparent transparent;
//   // bottom: 0;
//   z-index: 2;
// }

.section-chip::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 23px;
  height: 25px;
  background: var(--chip-color, #0e4a2e);
  // border-bottom-left-radius: 12px;
  border-bottom-right-radius: 66px;
  transform: translateX(1px);
}
@media (max-width: 768px) {
  .section-chip {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 16px;
  }
}
