/* .App {
  text-align: center;
} */

/* using global CSS variables from index.css */

.section-page {
  width: 794px;
  height: 1123px;
  margin: auto;
  background: var(--color-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  page-break-after: always;
  position: relative;
}

.page-footer {
  position: absolute;
  right: 66px;
  bottom: 40px;
  font-size: var(--fs-sm);
  color: var(--color-text);
}
